.form-style-8{
    /*font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);*/
    width: auto;
    background: white;
    
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 725px;
    overflow: scroll;

 }

  h1 {
    font-weight: normal;
    font-size: 1px;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0;
    text-transform: uppercase;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }

  .form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 1px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;

  }
  .form-style-8 input[type="text"],
  .form-style-8 input[type="date"],
  .form-style-8 input[type="datetime"],
  .form-style-8 input[type="email"],
  .form-style-8 input[type="number"],
  .form-style-8 input[type="search"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="url"],
  .form-style-8 input[type="password"],
  .form-style-8 select,
  .ris
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: inline-block;
    width: 270px;
    padding: 7px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;

  }
  .form-style-8 textarea{
    resize:none;
    overflow: hidden;
  }

  p{
    display: flex; 
    justify-content: center;
  }


  .form-style-8 input[type="button"],
  .form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: move;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

  }
  .form-style-8 input[type="button"]:hover,
  .form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, darkblue 5%, #30C9C9 100%);
    background-color: navy;
    cursor: move;
  }

  #root {
      height:100vh;
  }

  .clear-padding {
      padding:0;
  }

  #venue {
    cursor: pointer;
    box-sizing: border-box;
    min-height: 112px;
    -moz-box-shadow: 0px 5px 5px 5px lightgray;
    -webkit-box-shadow: 0px 5px 5px 5px lightgray;
    box-shadow: 0px 5px 5px 5px lightgray;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    background: white;
    color: black;
    padding: 10px;
  }

  #venue-text {
    color: #8c8c8c;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    min-width: 1px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: sans-serif;
    padding: 10px;
  }

  #list {
    -moz-box-shadow: 0px 5px 5px 5px lightgray;
    -webkit-box-shadow: 0px 5px 5px 5px lightgray;
    box-shadow: 0px 5px 5px 5px lightgray;
  }

  #venue-text #name {
      font-size: 30px;
  }

  ul {
      list-style-type: none;
      padding-left: 5px;
  }

  .box{
      padding-left: 40px;
      margin-top: 30px;
  }